@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat";
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.primary-active {
    color: white;
    background-color: #ce000e;
    font-family: "Montserrat";
    font-size: 24px;
}
.primary-hover {
    color: white;
    background-color: #ff4a56;
    font-family: "Montserrat";
    font-size: 24px;
}
.primary-inactive{
    color: white;
    background-color: #f5333F;
    font-family: "Montserrat";
    font-size: 24px;
}
.secondary-active {
    color: white;
    background-color: #d7a008;
    font-family: "Montserrat";
    font-size: 24px;
}
.secondary-hover {
    color: black;
    background-color: #ffd86e;
    font-family: "Montserrat";
    font-size: 24px;
}
.secondary-inactive{
    color: white;
    background-color: #ffc629;
    font-family: "Montserrat";
    font-size: 24px;
}

.t-active {
    color: white;
    background-color: #144100;
    font-family: "Montserrat";
    font-size: 24px;
}
.t-hover {
    color: white;
    background-color: #31c41b;
    font-family: "Montserrat";
    font-size: 24px;
}
.t-inactive{
    color: white;
    background-color: #177e00;
    font-family: "Montserrat";
    font-size: 24px;
}

h1,h2,h3,p{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

h1 {
    font-size: 72px;
    font-weight: 500;
}

h2 {
    font-size: 48px;
    font-weight: 400;
}

h3 {
    font-size: 36px;
    font-weight: 350;
}

p {
    font-size: 18px;
}

strong {
    font-weight: 600;
}

